<div class="canopus-labs-banner-card-icon">
  <div class="canopus-labs-banner-card-circle">
    <div class="canopus-labs-banner-card-center-circle">
      <div class="canopus-labs-banner-card-center"></div>
    </div>
  </div>
</div>
